<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/org.eclipse.epsilon.emu.examples/transformations/HTML2XML/4_original_transformations/HTML2XML-error.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="HTML"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="HTML" value="EMF"/>
<mapEntry key="XML" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="HTML" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="XML" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="XML"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="HTML" value="uri:HTML"/>
<mapEntry key="IN" value="/org.eclipse.epsilon.emu.examples/transformations/HTML2XML/1_in_models/input_html.xmi"/>
<mapEntry key="OUT" value="/org.eclipse.epsilon.emu.examples/transformations/HTML2XML/2_expected_models/output_error.xmi"/>
<mapEntry key="XML" value="uri:XML"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
